<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Content</h1>

  <form action="/update-content" method="POST">
    <input type="hidden" name="date" value="<%= date %>">
    <textarea name="content" rows="4" cols="50"><%= content %></textarea>
    <br>
    <button type="submit">Update Content</button>
  </form>
</body>
<script>

</script>
</html>