<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"   href="/signup.css">
    <title><%=title%></title>
</head>
<body>



<form method="POST" action="/signup">
  <div class="signup">
    <h1>SignUp Form </h1>
    <input type="text" name="name" placeholder="Username" required>
    <br><br>
    <input placeholder="E-mail" name="email" type="email" required>
    <br><br>
    <input type="password" name="password" placeholder="Password" required>
    <br><br>
    <!-- <input type="date" id="date" name="date" placeholder="Date" required> 
    <br><br>
    <textarea placeholder="Type Here..." id="content" name="content" type="text" cols="50" rows="10" required></textarea>
    <br><br> -->
    <button type="submit">Sign Up</button>
  </div>
  </form>
        

    </body>
    </html>